		</div>
		</main>
		<footer class="page-footer">

			<div class="footer-copyright">
	            <div class="container center">
	            Made by David Parsons
	            </div>
	      	</div>
				
		</footer>
	</body>
</html>