<%- include partials/header.ejs %>

<main class="container">
    <div class="container">

        <h3>Welcome</h3>
        <p>Barrie's restaurant directory is 100% user created and maintained. Just register for an account and feel free to add and edit restaurants as you see fit. Or just view the great restaurants in Barrie and try to find your new favorite spot!</p>
        <a href="/auth/register" class="waves-effect waves-light btn-large">Register now!</a>

    </div>
</main>

<%- include partials/footer.ejs %>

